@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-lovely-50 text-gray-800 antialiased;
  }
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-lovely-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-lovely-300;
}
